.word {
    font-size: 1em;
    fill: steelblue;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.svg {
width: 300%;
height: 300%;
;
}